#cache
Lepton/
streamlit-webrtc/

# wsl
TTS/
xtts/

# docker
redash/
httpbin/

stable-diffusion-webui/
faster-whisper-webui/
text-generation-webui/
albumapp-django/
doctr/
streamlit-image-crop/
sqlite-web
audiocraft/
lobe-chat/
ChatGLM2-6B/
Flowise/
calibre-web/
VoiceStreamAI/
rclone-webui-angular/
RapidVideOCR/
Draw2Img/
snd/
flood/